@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

#cab {
    text-align: center;    

}

.titulo{
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
}

.intr{
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
}
  
main.container {
    margin: 0 auto;
}
  
div.mapa {
    margin: 0 auto;
    text-align: center;
}
  

.mapa {
    margin: 20px;
    padding: 20px;
    justify-content: center;
    position: absolute;
    left: 25%;
}
  
.linha {
    display: flex;
    flex-direction: row;
}
  
.lab {
    width: 30px;
    height: 30px;
}
  
.parede {
    width: 30px;
    height: 30px;
    background-color: green;
}
  
.caminho {
    background: white;
}


  